/* ==========================================================================
  Button
   ========================================================================== */

.c-button {
  padding: 0.6rem 1rem;
  display: inline-flex;
  border-radius: 0.2rem;
}

a.c-button {
  text-decoration: none;
}

.c-button--default {
  background: #DDD;
  color: #333;
}

.c-button--primary {
  background: #0E83FC;
  color: #FFF;
}