/* ==========================================================================
  Content
   ========================================================================== */

.c-h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: $g-heading-color;
}

.c-h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: $g-heading-color;
}

.c-p {
  margin-bottom: 1.6rem;
}

.c-content {

  h1 {
    font-size: 3.2rem;
    color: $g-heading-color;
  }

  h2 {
    font-size: 2.4rem;
    color: $g-heading-color;
  }

  p {
    margin-bottom: 1.6rem;
  }

}
