/* ==========================================================================
  Fonts
   ========================================================================== */

$font-location: "../fonts/" !default;

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$font-loc}Inter-Regular.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}Inter-Regular.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("#{$font-loc}nter-Italic.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-Italic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("#{$font-loc}nter-Medium.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-Medium.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("#{$font-loc}nter-MediumItalic.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-MediumItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("#{$font-loc}nter-SemiBold.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-SemiBold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("#{$font-loc}nter-SemiBoldItalic.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-SemiBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$font-loc}nter-Bold.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-Bold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("#{$font-loc}nter-BoldItalic.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-BoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("#{$font-loc}nter-ExtraBold.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-ExtraBold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("#{$font-loc}nter-ExtraBoldItalic.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-ExtraBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("#{$font-loc}nter-Black.woff2?v=3.11") format("woff2"),
       url("#{$font-loc}nter-Black.woff?v=3.11") format("woff");
}
