/* ==========================================================================
  Reset
   ========================================================================== */

html, body {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}