// Ygdir CSS framework
// A minimalist BEM/ITCSS based framework. Only ship what you need.

/*
  You should write your own CSS through a series of Ygdir conventions.
  Ygdir provides ygdir-apps.scss and ygdir-content-website.scss to give you an idea of
  the typical SCSS that would be used as a starting point for a content website or an app.

  Ygdir.css ships with all Ygdir components, for framework development reasons, but you should
  really strip away what you do not use in production.
*/

@import "_reset";

// Settings
@import "_s-fonts";
@import "_s-variables";

// Elements
@import "_e-base";

// Components
@import "_c-block-list";
@import "_c-button";
@import "_c-content";
@import "_c-modal";
@import "_c-popover";
@import "_c-toolbar";
@import "_c-tooltip";

// Utilities
@import "_u-flex";
@import "_u-spacer";